Source: microbe
Section: user/multimedia
Priority: optional
Maintainer: Robert Irvin <android_808@hotmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev, libqt4-opengl-dev, libqjson-dev, libx11-dev
Standards-Version: 3.7.3

Package: microbe
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-opengl
Description: An open source replacement for microb.
 microbe is an attempt to replace microb using embedlite.
XB-Maemo-Display-Name: microbe

